.COXINHA-FRANGO {
    transition-duration: 0.5s;
    width: 250px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

.COXINHA-FRANGO:hover {
   transition-duration: 0.5s;
    width: 400px;
}

.card {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#acho {
    transition-duration: 0.5s;
    width: 200px;
}

#acho:hover {
    transition-duration: 0.5s;
    width: 300px;
}